body{
    background-image: url(img21.jpg);
}
.border{
    height: 60px;
    width: 100%;
}

    

.cart1 {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffffff15;
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .item-details {
    display: flex;
    align-items: center;
  }
  
  .item-details img {
    width: 100px;
    margin-right: 20px;
    border-radius: 4px;
  }
  
  .item-info {
    flex-grow: 1;
  }
  
  .quantity {
    margin-bottom: 10px;
  }
  
  .delete-btn {
    background-color: #ec3312;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .payment {
    margin-top: 20px;
  }
  
  .checkout-btn {
    background-color: #1caa21;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
  }