body{
    background-color: #f4f4f4;
}
.body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px;
    height: 300px;
}

.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.product-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0 0 10px;
}

.price {
    font-size: 1.2em;
    color: #666;
}
.product1{
    height: 290px;
    width: 230px;
}
footer {
    font-size: 1.3rem;
    background-color: #252323; /* Background color */
    color: rgb(208, 189, 189); /* Text color */
    text-align: center; /* Centered text */
    padding: 20px 0; /* Padding top and bottom */
    position: relative; /* Ensure it stays at the bottom */
    width: 100%; /* Full width */
    bottom: 0;
}
footer {
    margin-top: 600px /* Push the footer to the bottom **/
}
